<form #myForm="ngForm" (ngSubmit)="Add(myForm)">
  <a  routerLink="/home">Go to Home</a>
  <br>
  <legend>Add New Employee</legend>

  <div class="form-group">
      <label for="no">No</label>
      <input ngModel type="text" class="form-control" id="no" name="no">
  </div>

  <div class="form-group">
      <label for="name">Name</label>
      <input ngModel type="text" class="form-control" id="name" name="name">
  </div>

  <div class="form-group">
      <label for="address">Address</label>
      <input ngModel type="text" class="form-control" id="address" name="address">
  </div>

  <button type="submit" class="btn btn-primary">Add</button>

  <span>
      {{message}}
  </span>
</form>