<!-- <a  routerLink="/home">Go to Home</a> -->
<br>
<legend>Edit Employee</legend>

<div class="form-group">
    <label for="no">No</label>
    <input [(ngModel)]="emp.no" type="text" class="form-control" id="no" name="no">
</div>

<div class="form-group">
    <label for="name">Name</label>
    <input  [(ngModel)]="emp.name" type="text" class="form-control" id="name" name="name">
</div>

<div class="form-group">
    <label for="address">Address</label>
    <input  [(ngModel)]="emp.address" type="text" class="form-control" id="address" name="address">
</div>

<button type="button" (click)="UpdateEmployeeData()" class="btn btn-primary">Update</button>

<span>
    {{message}}
</span>

